ЗАДАЧА 1
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди 
взрослых футболистов, хоккеистов и штангистов. Даны значения роста в трех группах случайно 
выбранных спортсменов: 
Футболисты: 173, 175, 180, 178, 177, 185, 183, 182. 
Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180. 
Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.
H0: m1 = m2 = m3
H1: H1.1: m1 != m2
    H1.2: m1 != m3
    H1.3: m2 != m3
a = 0.05
Примем гипотезу H0 о равенстве средних значений трех групп спортсменов с альтернативной гипотезой H1 о том, что средние значения не равны. В качестве уровня значимости примим a=0.05

In [2]:
import numpy as np
from math import sqrt
from scipy import stats
import matplotlib.pyplot as plt

In [3]:
y1 = np.array([173, 175, 180, 178, 177, 185, 183, 182])
y2 = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
y3 = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [4]:
n1 = 8
n2 = 9
n3 = 11
k = 3

In [18]:
y1_mean = np.mean(y1)
y1_mean

179.125

In [19]:
y2_mean = np.mean(y2)
y2_mean

178.66666666666666

In [20]:
y3_mean = np.mean(y3)
y3_mean

172.72727272727272

In [8]:
n = n1 + n2 + n3
n

28

In [21]:
Y = (np.sum(y1) + np.sum(y2) + np.sum(y3))/(n)
Y

176.46428571428572

Сумма квадратов отклонений среднегрупповых значений от общего среднего

In [17]:
S_f = n1 * (y1_mean  -Y) ** 2 + n2 * (y2_mean - Y) ** 2 + n3 * (y3_mean - Y) ** 2
S_f

253.9074675324678

Остаточная сумма квадратов отклонений

In [22]:
S_ost = np.sum((y1 - y1_mean) ** 2) + np.sum((y2 - y2_mean) ** 2) + np.sum((y3 - y3_mean) ** 2)
S_ost

577.0568181818182

Сумма квадратов отклонений наблюдений от общего среднего

In [26]:
S = S_f + S_ost
S

830.964285714286

Факторная дисперсия

In [27]:
D_f = S_f / (k - 1)
D_f

126.9537337662339

Остаточная дисперсия

In [28]:
D_ost = S_ost / (n - k)
D_ost

23.08227272727273

Расчетный критерий Фишера

In [29]:
F_n = D_f / D_ost
F_n

5.500053450812598

Табличное значение критерия F_tab(2,25) = 3,38
Поскольку F_n > F_tab, отвергаем гипотезу H0 и делаем вывод о том, что рост спортсменов 
имеет статистически значимое различие
Проверка:

In [30]:
stats.f_oneway(y1,y2,y3)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

pvalue (0.01) < a(0.05)
Также делаем вывод в пользу альтернативной гипотезы H1